body{
  background-color:blanchedalmond;
}

@media (max-width: 320px){
  body{
    background-color:rgb(235, 255, 161);
  }
}

@media (max-width: 768px){
  body{
    background-color:rgb(240, 208, 255);
  }
}
  
@media (max-width: 1200px){
  body{
    background-color:rgb(195, 233, 245);
  }
}
h1 {
  text-align: center;
  font-size: 30px;
}
p{
    color:black;
    font-size: 25px;
}
.title{
 border-bottom: 1px solid #d7d4d4;
}
.menudiv{
  float: right;
}


* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
