body{
  background-color:blanchedalmond;color:black
h1 {
  
  text-align: center;
  font-size: 40px;
}
p{
    color:black;
    font-size: 16px;
}
element style{
  bottom: 32px;
  align-items: center;
  margin: auto;
}