body{
    background-color:blanchedalmond;
}
h1 {
    color:darkmagenta;
    text-align: center;
  }
  H2{
      color:brown;text-align: left;
      font-size: 17px;
  }
  p{
    font-size: 15px;text-align: left;padding: 15px;margin: auto;font-style:initial;
  }
h3{
    font-style: italic;font-size: large;font-display:initial;color: mediumblue;
}
    span.a {
        display: block;
        width: 100px;
        height: 100px;
        padding: 5px;
        border: 2px solid blue;    
        background-color: red; 
      }
      span.b{
        display: inline;
        width: 600px;
        height: 400px;
        padding: 5px;
        border: 1px solid blue;    
        background-color: yellowgreen; 
      }
      span.c {
        display: inline-block;
        width: 100px;
        height: 100px;
        padding: 5px;
        border: 1px solid blue;    
        background-color: rgb(90, 85, 89); 
      }
      img{
        margin-top: 40px;
        margin-right: 30px;
        margin-bottom: 70px;
        margin-left: 40px;
        border-top: darkblue;
        border-right: darkmagenta;
        border-left: darkorange;
        border-bottom: forestgreen;
        border-style: groove;
        border-width: 5pt;
          }
  